*{
    background-color: pink;
    font-family: sans-serif;
    text-align: center;
}

h1{
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
}
.recipe p{
    color: black;
    background-color: lightgreen;
    border-radius: 7px;
    width: 220px;
    display: inline-block;
}
